.header {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #42a5f5;
  text-align: center;
  min-height: 20em;
  padding: 2.5rem 3rem;
}

.header > * {
  color: white;
}

.back {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  font-size: 3rem;
  line-height: 0.8em;
  text-align: center;
  font-weight: 600;
}

.back:hover {
  text-decoration: none;
}

.header h1 {
  font-size: 2.6rem;
  line-height: 1.3;
}

@media (max-width: 60em) {
  .back {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .header {
    min-height: 10em;
    padding: 2.5em 3em;
  }

  .header h1 {
    font-size: 1.3rem;
  }

  .header h1,
  .header p {
    margin: 0;
  }
}
