.posts {
  padding-top: 0.5em;
}

.posts {
  position: relative;
  padding-top: 2em;
}

.posts:before {
  content: '';
  display: block;
  position: absolute;
  left: 80px;
  top: 0;
  height: 2em;
  border-left: 3px solid #42a5f5;
}

.post {
  display: flex;
  color: inherit;
  padding-top: 0;
}

.post p {
  font-size: 1rem;
  border-left: 3px solid #42a5f5;
  margin: 0;
  padding-left: 1.5em;
  padding-bottom: 1.5em;
  cursor: pointer;
  position: relative;
}

.post p:before {
  content: '';
  width: 13px;
  height: 13px;
  background: #42a5f5;
  position: absolute;
  left: -8px;
  top: 8px;
  border-radius: 100%;
  transition: 0.2s;
}

.longdate {
  display: none;
}

.shortdate {
  display: block;
}

.dateyear {
  transform: translateY(-10px) translateX(10px);
  font-size: 0.8em;
}

.shortdate,
.longdate {
  width: 5em;
  padding-right: 1.5em;
  text-align: right;
}

.post:hover p:before {
  background: #2196f3;
  transform: scale(1.2);
}

.post:active p:before {
  transform: scale(1);
}

.post:hover {
  text-decoration: none;
  cursor: default;
}

.pagination {
  max-width: 500px;
  margin: 2rem auto;
  display: flex;
  justify-content: space-between;
}

@media (min-width: 60em) {
  .posts {
    padding-top: 5em;
  }

  .posts:before {
    left: 176px;
    height: 5em;
  }

  .post p {
    font-size: 1.4rem;
  }

  .longdate {
    display: block;
    width: 11em;
  }

  .shortdate {
    display: none;
  }
}
