.post {
  background: white;
}

.body {
  padding-top: 1em;
  line-height: 1.9;
  font-size: 1rem;
  font-weight: 300;
}

.emoji {
  height: 1em;
  width: 1em;
  margin: 0 0.05em 0 0.1em;
  vertical-align: -0.1em;
}

.body p {
  margin-bottom: 1.25em;
}

.body:after {
  content: '';
  display: block;
  margin: 2rem auto 0;
  padding-bottom: 2rem;
  height: 3px;
  width: 100px;
  border-top: 3px solid #ddd;
}

@media (min-width: 60em) {
  .body {
    padding-top: 2em;
    font-size: 1.25rem;
  }
}
